<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Kinisi Geoserver</display-name>
	<filter>
		<filter-name>CayenneFilter</filter-name>
		<filter-class>org.apache.cayenne.configuration.web.CayenneFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ApiTokenFilter</filter-name>
		<filter-class>cc.kinisi.geo.server.ApiTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CayenneFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApiTokenFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>